/* --- Global --- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 h1{

    font-size: 32px;
}

/* ---  Navbar & Hero section start --- */
.navbar{
    
  width: 100%;
  padding-top: 20px;
  position: fixed;
  left: 0;
  right: 0;
} 

.hero-section{
    background-image:url("./images/bgk-header.png") ;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section-text-box{
    max-width: 780px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}

.hero-section-text-box h1{
    margin-bottom: 30px;
    text-transform: capitalize;
    position: relative;
}

.hero-section-text-box h1:after

.hero-section-text-box p{
    font-size: 16px;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 30px;
    color: #00e0d0;
    text-transform:lowercase ;
    display: inline-block;
    margin-left: 10px;
}

.project-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.navbar-wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-wrapper ul{
    display: flex;
    justify-content: space-between;
}

.navbar-wrapper li{
    list-style: none;
    padding: 0 15px;
}

.navbar-wrapper a{
   color:#fff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 13px;
   transition: all .5s ease-out;
}

.navbar-wrapper a:hover{
    color: #00e0d0;
 }


 /* ---  Main section start --- */

  /* ---  our-story-section start --- */
   /* ---  our-story-section end --- */

 /* ---  our-watch-section start --- */
  /* ---  our-watch-section end --- */


/* ---  our-expertise-section start --- */
/* ---  our-expertise-section end --- */

  /* ---  our-team-section start --- */
  /* ---  our-team-section end --- */

/* ---  our-contact-client-section start --- */
/* ---  our-contact-client-section end --- */


 /* ---  Main section end --- */





 /* --- Footer-start --- */
 
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
}
.submit-button {
    background-color: white;
    color: aqua;
    padding: 10px 20px;
    border-style: solid;
    cursor: pointer;
}
.submit-button:hover{
    background-color: burlywood;
    transform: 1.3em;
}
footer {
    width: 100%;
    position: absolute;
    background-image:url(./bgk-footer.png);
    color: white;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px; 
    
    
}

.row-footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col-footer {
   flex-basis: 25%;
   padding: 10px; 
   position: relative;
   left: 14rem;
      
}
.footer-logo{
    width: 50px;
    margin-bottom: 30px;
}
.studio {
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #fff;
    margin-bottom: 50px;

}
.form-footer {
    width: 250px;
    background: transparent;
    border: 0;
    outline: none;
    color: hwb(320 97% 2%);

    
}
.send-button {
background: transparent;
border: 0;
cursor: pointer;
color: rgb(190, 120, 120);


}
.form-input {
   background: transparent;
   border-style: solid;
   border-color: white; 
  padding: 15px 30px;
  color: white;
 
}
.paper-button {
    position: relative;
    left: .5rem;
    background: white;
    padding: 14px 10px;
    
    opacity: 30%;
    
    
    
}
.logo-text-footer {
    font-size: 30px;
    color: #00e0d0;
    text-transform:lowercase ;
    display: inline-block;
    position: relative;
    top: -2.5rem;
}

.paragraph-logo{
    position: relative;
    top: -2.5rem;
}

.h3-stay{
    position: relative;
    left: 5.5rem;
}
.paper-button:hover {
    transform: scale(1.2);
    background: white
    color: white;
}
.social-icons {
    position: relative;
    left: 80px;
    top: -2.8rem;
}
.copyright {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
.address {
    font-size: 16px;
    display: flex;
    word-spacing: .1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon {
    margin-right: 10px;
    font-size: 20px;
    
}
.phone {
    margin-right: 10px;
    font-size: 20px;
    

}
 /* --- Footer-end --- */